@model HammerSpace.Models.GamesModels.GameDetails

@{
    ViewBag.Title = "Details";
}

<div class="sectionHeader">
    <br />
    <h4 style="color:white; text-decoration:underline">Game Details</h4>
    <br />
</div>
    <hr />
<div class="infoList">
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AveragePlaytime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AveragePlaytime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameTypeString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GameTypeString)
        </dd>

        @{ if (Model.GameType == HammerSpace.Data.Games.GameType.BoardGame)
            {

                @*Board Game specific info*@
                <dt>
                    @Html.DisplayNameFor(model => model.BoardGameGenre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BoardGameGenre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BGPublisher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BGPublisher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsDiceGame)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsDiceGame)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsCardGame)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsCardGame)
                </dd>
            }

            else if (Model.GameType == HammerSpace.Data.Games.GameType.VideoGame)
            {
                @*Video Game specific info*@
                <dt>
                    @Html.DisplayNameFor(model => model.LocalCoop)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LocalCoop)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VideoGameGenre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VideoGameGenre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ESRBRating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ESRBRating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.VGPublisher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.VGPublisher)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Console)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Console)
                </dd>
            }
        }
    </dl>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GameId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
</div>
