@model IEnumerable<HammerSpace.Models.GamesModels.GameListItem>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create Board Game", "Create", new {id=1})
    @Html.ActionLink("Create Video Game", "Create", new {id=2})
</p>
@*BoardGame Table*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AveragePlaytime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardGameGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BGPublisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDiceGame)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCardGame)
        </th>

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.GameId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GameType)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GameTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GameDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AveragePlaytime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PlayerCount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BoardGameGenre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.BGPublisher)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsDiceGame)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsCardGame)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>

    }
</table>



@*VideoGame Table*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AveragePlaytime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalCoop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VGPublisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VideoGameGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Console)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        }

    </tr>

    @foreach (var item in Model)
    {
        if (item.GameType == HammerSpace.Data.Games.GameType.VideoGame)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AveragePlaytime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlayerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocalCoop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VGPublisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VideoGameGenre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Console)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    }
</table>
