@model IEnumerable<HammerSpace.Models.MovieModels.MovieListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieRunTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieTitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieDescription)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieRunTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Director)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieGenre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MovieRating)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReleaseYear)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
